{% extends 'flatpages/default.html' %}

{% load template_filters %}
{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
<h1>Последние новости:</h1>
Всего новостей на странице: {{ posts|length }}

{% if perms.NewsPortal.add_post %}
    <a href="{% url 'post_news_create' %}">Добавить новость</a>
    <a href="{% url 'post_article_create' %}">Добавить статью</a>
{% endif %}

<table>
    <tr style="font-weight: bold">
        <td>Заголовок</td>
        <td>Дата публикации</td>
        <td>Краткое описание</td>
        {% if perms.NewsPortal.change_post or perms.NewsPortal.delete_post %}
            <td>Действия</td>
        {% endif %}
    </tr>
    {% for post in posts %}
        <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.date|date:'d.M.Y' }}</td>
            <td>{{ post.text|censure|truncatechars:20 }}</td>
            <td>
                {# Тип новости: 0 - новость, 1 - статья #}
                {% if post.type %}
                {# Вход кода для НОВОСТЕЙ #}

                    {% if perms.NewsPortal.change_post %}
                        <a href="{% url 'post_news_update' pk=post.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.NewsPortal.delete_post %}
                        <a href="{% url 'post_news_delete' pk=post.id %}">Удалить</a>
                    {% endif %}

                {% else %}
                {# Вход кода для СТАТЕЙ #}

                    {% if perms.NewsPortal.change_post %}
                        <a href="{% url 'post_article_update' pk=post.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.NewsPortal.delete_post %}
                        <a href="{% url 'post_article_delete' pk=post.id %}">Удалить</a>
                    {% endif %}

                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

{% if page_obj.has_previous %}
    <a href="?{% url_replace page=1 %}">1</a>
    {% if page_obj.previous_page_number != 1 %}
        ...
        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
    <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
{% endif %}

{% endblock content%}